@import "mixins";
@import "forms";

.wrapper {
  @include border;
  @include size;
  align-items: stretch;
  max-width: 100%;
  border: 0;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-areas: "address after";
}

.address {
  flex: 1;
  @include flex(flex-start);
  grid-area: address;
  overflow-x: scroll;
}

.after {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  grid-area: after;
  padding-left: 10px;
}
