@import "mixins";
@import "forms";

.container {
  position: relative;
}

.selector {
  @include border;
  @include size;
  @include flex(space-between);
  appearance: none;
  width: 100%;

  span {
    @include flex(flex-start);

    img {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }
  }
}

.options {
  position: absolute;
  transform: translate(0, 4px);
  width: 100%;

  padding: 4px 0;
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--card-border);
  z-index: 10;

  .options__container {
    margin: 0 6px;
    max-height: 200px;
    overflow-y: scroll;
  }

  .options__container__small {
    max-height: 120px;
  }

  button {
    padding: 6px 12px;
    width: 100%;
    @include flex(flex-start);
    border-radius: var(--border-radius);

    img {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }

    &:hover {
      background-color: var(--card-bg-muted);
    }
  }
}
