@import "mixins";

.container {
  @include flex-column(flex-start, flex-start);
  color: var(--menu-text);
  font-size: var(--font-size-small);
  gap: 0.4rem;
  span {
    white-space: nowrap;
    opacity: 0.75;
  }
}

.link {
  @include flex(flex-start, center);

  gap: 4px;
  color: var(--menu-text);
  font-size: var(--font-size-small);
  font-size: 14px;
  line-height: 1;
  opacity: 0.75;
  padding: var(--gutter) 0;
  transition: opacity var(--transition);

  &:hover {
    opacity: 1;
  }
}

.brands {
  @include flex(flex-start, center);
  gap: 4px;
}
