@import "mixins";

.page {
  overflow-y: auto;
  // padding here to position progress bar

  @include desktop {
    padding: 32px var(--main-padding-horizontal);
  }

  @include mobile {
    padding: 28px var(--main-padding-horizontal);
  }

  @media (max-width: 600px) {
    padding: 28px 0;
  }
}

.grid {
  display: grid;

  @include desktop {
    gap: 18px;
  }

  @include mobile {
    gap: 16px;
  }
}

.sub {
  padding: unset;
  margin-top: 20px;
}

.invisible {
  padding: unset;
  width: auto;
  overflow-y: scroll;
}

.header {
  @include flex(space-between);
  margin-right: 24px;

  @include desktop {
    --font-size-page-title: 36px;
  }

  @include mobile {
    --font-size-page-title: 28px;
  }

  @media (max-width: 600px) {
    padding: 0 var(--main-padding-horizontal);
  }

  .titleWrapper {
    @include flex(center);
    gap: 12px;

    svg:hover {
      cursor: pointer;
    }
  }
}

.title {
  font-size: var(--font-size-page-title);
}

.sub {
  .header {
    @include mobile {
      display: grid;
      gap: 8px;
    }
  }

  .title {
    font-size: 24px;
  }
}

@include desktop {
  .small {
    gap: 36px;

    .header {
      padding-bottom: 18px;
    }

    .main {
      margin: 0 auto;
      width: var(--max-width-small);
      max-width: 100%;
    }
  }
}

.main {
  overflow: hidden;
}
