@import "mixins";

.container {
  display: grid;
  gap: 28px;
  overflow: auto;
}

.table {
  td {
    background: var(--card-bg);
  }

  th {
    padding: 12px;
    padding-top: 0;
    position: sticky;
    top: 0;
  }

  td {
    padding-left: 12px;
    padding-right: 12px;
    border-top: 1px solid var(--card-border);
  }
}

.default {
  border-collapse: separate;
  border-spacing: 0 10px;

  tr {
    padding: 30px 35px;
  }

  td:first-child {
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }
  td:last-child {
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  td {
    padding: 20px 25px;
    border-top: 0;
  }
}

.small {
  td {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.bordered {
  border-radius: 5px;
  border: solid 1px var(--card-border);

  th,
  td {
    background: var(--bg);
  }

  th {
    padding-top: 12px;
  }
}

/* align */
.center {
  text-align: center;
}

.right {
  text-align: right;
}

/* sorter */
.sorter {
  @include inline-flex;
  gap: 8px;
}

.caret {
  fill: var(--text);
  opacity: 0.3;

  &.active {
    opacity: 1;
  }
}

/* pagination */
.pagination {
  display: flex;
  justify-content: flex-end;
}
