@import "mixins";

.tabs {
  white-space: nowrap;
  position: relative;
}

.page {
  background: var(--card-bg-muted);
  border: var(--border-width) solid var(--card-border);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  font-size: 13px;
  font-weight: var(--bold);
  overflow: hidden;

  @include flex(space-between, center);

  @include mobile {
    display: flex;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }

  @for $i from 1 through 20 {
    .tab:first-child:nth-last-child(#{$i}),
    .tab:first-child:nth-last-child(#{$i}) ~ .tab {
      width: calc(100% / #{$i - 1});
    }
  }
}

.page .tab .title {
  padding-right: 10px;
}

.page .tab {
  height: 60px;
  border-right: var(--border-width) solid var(--card-border);
  color: var(--text-muted);
  transition: all 0.3s ease-out;
  z-index: 1;

  @include mobile {
    &:last-child {
      border-right: 0;
    }
  }

  &:hover {
    color: var(--text);
  }

  &.active {
    color: var(--text);
    position: relative;
  }

  &.disabled {
    color: var(--text-muted);
  }

  @include desktop {
    padding: 0 30px;
  }

  &:nth-last-child(2) {
    border-right: 0;
  }
}

.tabsContainer {
  @include flex-column(unset, unset);
}

.content {
  background: var(--card-bg);
  border: var(--border-width) solid var(--card-border);
  border-top: var(--border-width) solid transparent;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.card {
  background: var(--card-bg-muted);
  border: var(--border-width) solid var(--card-border);
  border-radius: var(--border-radius);
  font-size: 13px;
  font-weight: var(--bold);
  margin-bottom: 20px;
  overflow: hidden;

  @include mobile {
    display: flex;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}

.tab {
  @include inline-flex;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.card .tab {
  height: 60px;
  border-right: var(--border-width) solid var(--card-border);
  color: var(--text-muted);
  transition: all 0.3s ease-out;
  z-index: 1;

  @include mobile {
    &:last-child {
      border-right: 0;
    }
  }

  &:hover {
    color: var(--text);
  }

  &.active {
    position: relative;
    color: var(--text);
  }

  &.disabled {
    color: var(--text-muted);
  }

  @include desktop {
    padding: 0 30px;
  }

  @include mobile {
    flex: 1;
    text-align: center;
  }
}

.line {
  --border-color: var(--text);
  margin-bottom: 12px;

  .slider {
    background-color: var(--border-color);
  }
}

.reversed {
  --border-color: var(--card-bg);
}

.line .tab {
  border-bottom: 1px solid var(--border-color);
  font-size: var(--font-size-small);
  font-weight: var(--bold);
  padding: 0 14px;
  padding-bottom: 5px;
}

.disabled {
  @include disabled;
}

.slider {
  position: absolute;
  background: var(--card-bg);
  transform: translatex(0%);
  bottom: 0;
  transition: 0.15s ease, transform 0.25s ease-out;
}
