@import "mixins";

.list {
  display: grid;
  gap: var(--grid-gap);

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
  }
}

.link {
  display: grid;
  color: inherit;
  border: 2px solid var(--card-bg);

  &:hover {
    text-decoration: none;
    border: 2px solid var(--info);
    box-sizing: border-box;
  }
}
