@import "mixins";

.asset {
  @include flex(space-between, flex-start);
  padding: 10px 0;
  position: relative; // to loading indicator
}

.details {
  @include flex(flex-start);
  gap: 12px;
  width: 100%;
}

.details__container {
  @include flex(space-between);
  width: 100%;
}

.symbol,
.amount {
  font-size: 15px;
}

.symbol span {
  background-color: var(--button-default-bg);
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 10px;
}

.change__up,
.change__down,
.amount {
  font-weight: var(--normal);
  color: var(--text-muted);
}

.price,
.amount {
  text-align: right;
}

.change__up {
  color: var(--info);
}

.change__down {
  color: var(--danger);
}

.value {
  color: var(--text-muted);
  font-size: var(--font-size-small);
}
