@import "mixins";

.assetlist {
  background-color: var(--card-bg-muted);
  padding-top: 1.6rem;
  padding-inline: 10px;
  grid-area: assets;
  display: grid;
  grid-template-areas: "title" "list";
  grid-template-rows: min-content auto;
  overflow-y: hidden;
}

.assetlist__title {
  @include flex(space-between);
  padding-inline: 20px;
  margin-bottom: 10px;
  grid-area: title;
}

.assetlist__list {
  overflow-y: auto;
  grid-area: list;
  padding-bottom: 1.6rem;
}
