@import "mixins";

.details {
  @include flex(center);
  flex-direction: column;

  padding: 1.8rem 1rem;
  padding-top: 2.6rem;
  height: fit-content;
  background-color: var(--card-bg);
  grid-area: details;

  h1 {
    font-size: 20pt;
    margin-top: 0.6rem;
  }

  p {
    color: var(--text-muted);
    font-size: 12pt;
    margin-top: 0.2rem;
  }
}

.chainlist {
  background-color: var(--card-bg-muted);
  padding-top: 1.6rem;
  padding-inline: 10px;
  grid-area: list;
  display: grid;
  grid-template-areas: "title" "list";
  grid-template-rows: min-content auto;
  overflow-y: hidden;

  h3 {
    padding-left: 10px;
    grid-area: title;
    margin-bottom: 10px;
  }
}

.chainlist__list {
  overflow-y: auto;
  grid-area: list;
  padding-bottom: 1.6rem;
}

.actions {
  @include flex(space-between);
  background-color: var(--card-bg);
  padding: 1rem;
  gap: 0.6rem;

  button {
    min-width: 0;
    width: 100%;
    padding-block: 20px;
    height: fit-content;
  }
}
