@import "mixins";

.asset {
  @include flex(space-between, flex-start);
  padding: 10px;
  border-radius: 10px;
  position: relative; // to loading indicator
  cursor: pointer;
  transition: 300ms;

  &:hover {
    background-color: var(--card-bg);

    .details__container {
      grid-template-areas:
        "symbol symbol"
        "change amount";
    }

    .chain__num,
    .price {
      display: none;
    }

    .chains {
      display: inline;
      background-color: var(--button-default-bg);
      padding: 2px 10px;
      font-size: 12px;
      border-radius: 10px;
    }
  }
}

.details {
  @include flex(flex-start);
  gap: 10px;
  width: 100%;
}

.details__container {
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-areas:
    "symbol price"
    "change amount";
}

.symbol {
  @include flex(flex-start);
  gap: 6px;
  font-size: 15px;
  grid-area: symbol;
}

.chain__num {
  background-color: var(--button-default-bg);
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 10px;
}

.chains {
  display: none;
}

.amount {
  font-size: 15px;
  grid-area: amount;
  font-weight: var(--normal);
  color: var(--text-muted);
  text-align: right;
  white-space: nowrap;
}

.change__up,
.change__down {
  @include flex(flex-start);
  font-weight: var(--normal);
  grid-area: change;
  gap: 4px;
}

.change__up {
  color: var(--info);
}

.change__down {
  color: var(--danger);
}

.price {
  text-align: right;
  grid-area: price;
}

.value {
  color: var(--text-muted);
  font-size: var(--font-size-small);
}
