@import "mixins";

.networth {
  @include flex-column;
  padding: 1.6rem;
  border-bottom: var(--border-width) solid var(--card-border);

  p {
    color: var(--text-muted);
    font-size: 14px;
    line-height: 140%;
  }

  h1 {
    font-size: 32px;
    line-height: 150%;
    margin-top: 4px;
  }

  grid-area: details;
  height: fit-content;
  background-color: var(--card-bg);
}
.networth__buttons {
  display: flex;
  gap: 48px;
  justify-content: center;
  margin-top: 28px;
  width: 100%;

  .button__wrapper {
    @include flex-column;
    gap: 8px;
  }

  button {
    min-width: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 16px;
    @include flex;
  }

  .wallet_primary {
    box-shadow: inset 0px 1.5px 0px 0px rgb(255 255 255 / 20%),
      0px 4px 24px 0px rgb(36 36 40 / 30%);
    background: #075ae9;
  }
}

.icon {
  font-size: 24px;

  // &.send {
  //   transform: rotate(-90deg);
  // }
  // &.receive {
  //   transform: rotate(90deg);
  // }
}
