@import "mixins";

.form {
  display: grid;
  max-height: calc(100vh - var(--header-height));
  min-height: calc(100vh - var(--header-height));
  grid-template-areas:
    "sendlist"
    "sendactions";
  grid-template-rows: auto min-content;
}

.send {
  grid-area: sendlist;
  background-color: var(--card-bg-muted);
  padding: 20px;
  padding-bottom: 40px;
  margin-top: 3rem;
  max-width: var(--wallet-width);
  box-sizing: border-box;
  overflow-y: auto;
  height: 100%;
  h1 {
    font-size: 18pt;
  }
}

.actions {
  background-color: var(--card-bg);
  padding: 1rem;
  gap: 0.6rem;
  grid-area: sendactions;
  width: 100%;

  button {
    width: 100%;
    padding-block: 20px;
    height: fit-content;
    margin-top: 0;
  }
}

.form__container {
  div + div {
    margin-top: 1.2rem;
  }
}

.destination {
  color: var(--button-primary-bg);
}

.icon {
  font-size: 16px;
}
