@import "mixins";

.wallet {
  width: min(var(--wallet-width), 100vw);
  grid-area: walletbar;
  position: relative;
  border-left: 1px solid var(--menu-border);
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-areas: "details" "list" "actions";
  grid-template-rows: min-content auto min-content;
  transition: 400ms;
  background-color: var(--card-bg-muted);

  @media (max-width: (1400px - 0.02)) {
    position: absolute;
    right: 0;
    box-shadow: 0 0 15px #000b;
    clip-path: inset(0px 0px 0px -100px);
  }
}

.close {
  position: absolute;
  top: 10px;
  left: 0;
  transform: translate(-100%, 0);
  padding: 10px 8px;
  background-color: var(--card-bg-muted);
  border-radius: 10px 0 0 10px;
  border: var(--border-width) solid var(--menu-border);
  transition: 300ms;
  @include flex(center);
  flex-direction: column;
  gap: 0.3rem;

  &:hover {
    background-color: var(--card-bg);
  }

  svg {
    fill: currentColor;
  }

  span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-weight: 500;
    font-size: 10pt;
  }

  @media (max-width: (1200px - 0.02)) {
    box-shadow: 0 0 15px #000b;
    clip-path: inset(-15px 0px -15px -15px);
  }
}

.wallet__closed {
  width: 0;
  transform: translate(100%, 0);
}

.back {
  position: absolute;
  top: 20px;
  left: 18px;
}
