.popover {
  min-width: 260px;
}

.modal {
  color: var(--text);
  font-size: 18px;
  font-weight: var(--bold);
  margin-bottom: 4px;
}

.button {
  min-width: 0;
}

.button__text {
  @media (max-width: 500px) {
    display: none;
  }
}
