@import "mixins";

.component {
  @include flex-column(space-between, stretch);
  background: var(--card-bg);
  width: 260px;
}

.inner {
  padding: 24px;
}

.link {
  color: var(--text);
  font-size: 18px;
  font-weight: var(--bold);
  margin-bottom: 4px;
}

.footer {
  @include flex;

  background: var(--bg);
  border-top: solid 1px var(--card-border);
  color: var(--text-muted);
  font-weight: var(--bold);
  padding: 12px;
  transition: color var(--transition);

  &:hover {
    color: var(--text);
    text-decoration: none;
  }
}
