@import "mixins";

.overlay {
  @include flex;
  background: hsl(0 0% 0% / 0.8);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1050;
}

.modal {
  @include flex-column;
  max-height: 80vh;
  background: var(--card-bg-muted);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  outline: 0;
  position: relative;
  overflow: hidden;
  padding: 50px 40px 40px;
  width: 789px;
  max-width: 95%;
  border: var(--border-width) solid var(--card-border);

  --accordion-width: 615px;

  @media (max-width: 770px) {
    --accordion-width: 575px;
  }
  @media (max-width: 725px) {
    --accordion-width: 525px;
  }
  @media (max-width: 675px) {
    --accordion-width: 450px;
  }
  @media (max-width: 590px) {
    --accordion-width: 350px;
  }
  @media (max-width: 450px) {
    --accordion-width: 285px;
  }
}

.title {
  font-size: clamp(17px, 4.5vw, 38px);
  text-align: center;
}

.subtitle {
  font-size: clamp(14px, 2vw, 20px);
  margin-top: 10px;
  margin-bottom: 50px;
  color: var(--text-muted);
  font-weight: var(--normal);
}

.accordions {
  @include flex-column(flex-start, center);
  gap: 12px;
  min-height: 300px;
  overflow: scroll;

  .accordion,
  .lessImportantAccordion {
    @include flex-column(center, normal);
    background-color: var(--card-bg-muted);
    border-radius: var(--border-radius);
    width: var(--accordion-width);

    .top {
      @include inline-flex(space-between, center);
      background-color: var(--card-bg);
      padding: 20px;
      border: 1px solid var(--card-border);
      border-radius: var(--border-radius);
      cursor: pointer;
      transition: all 0.3s, border-radius 0.3s 0.3s;

      .title {
        font-size: clamp(14px, 2vw, 18px);
        font-weight: var(--bold);
      }

      .icon {
        width: 30px;
        transition: transform 0.3s;
      }

      &:hover {
        background-color: var(--bg-muted);
        border-color: var(--input-border);
      }
    }

    .content {
      padding: 0 20px;
      border: 1px solid var(--card-border);
      border-top: 0;
      border-radius: 0 0 var(--border-radius) var(--border-radius);

      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: opacity 0.5s ease-in, max-height 0.4s ease-in,
        padding-top 0.3s ease-in 0.05s, padding-bottom 0.4s ease 0.2s;

      ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        list-style: disc;
        margin-left: 15px;

        li {
          line-height: 1.8;
          .highlighted {
            background-color: var(--input-border);
            border-radius: 3px;
            color: var(--link);
            font-weight: var(--bold);
            padding: 4px 6px;
          }

          &::marker {
            font-size: 18px;
            color: var(--text-muted);
          }
        }
      }
    }

    &.opened {
      .top {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
      }

      .content {
        opacity: 1;
        padding-top: 20px;
        padding-bottom: 20px;
        max-height: 300px;
      }

      .icon {
        transform: rotate(180deg);
      }
    }
  }

  .lessImportantAccordion {
    background-color: var(--bg);
    margin-top: 32px;
    font-size: 12px;
    color: var(--text-muted);

    .top {
      background-color: var(--card-bg-muted);
      padding: 14px 20px;

      .title {
        font-size: clamp(14px, 2vw, 16px);
      }
    }

    &.opened {
      .content {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }
}

.confirm {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text);
  min-height: 50px;
  width: var(--accordion-width);
  border-radius: 16px;
  margin-top: 32px;
  transition: all 0.3s;

  @include mobile {
    margin-top: 12px;
  }

  &:hover {
    background-color: hsl(
      var(--button-primary-bg-h),
      var(--button-primary-bg-s),
      calc(var(--button-primary-bg-l) - 5%)
    );
  }
}

@media (max-height: 800px) {
  .modal {
    min-height: unset;
    padding: 28px 20px 20px;
    max-height: 95%;
  }

  .subtitle {
    margin-bottom: 20px;
  }

  .accordions {
    min-height: unset;
  }
}

@media (max-width: 590px) {
  .modal {
    padding: 28px 20px 20px;
    min-height: unset;
  }

  .subtitle {
    margin-bottom: 20px;
    text-align: center;
    max-width: 90%;
  }

  .accordions {
    .accordion {
      .top {
        padding: 14px;
      }
    }
    .lessImportantAccordion {
      margin-top: 12px;

      .top {
        padding: 10px 14px;
      }
    }
  }
}
